<div class="container marketing mt-4">
    <div class="container">
        <h1>Bienvenue </h1>
        <p>C'est dans cet espace que vous allez pouvoir gérer Votre boutique.</p>
        <hr>

        <div class="row">
            <div class="col-md-4  mt-2">
                <div class="card text-center p-4 text-bg-light">
                    <a href="/user-list" class="link-secondary">
                        <h1><i class="bi bi-people"></i><br /></h1>
                        Voir tous les utilisateurs
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card text-center p-4 text-bg-light">
                    <a href="/category-list" class="link-secondary">
                        <h1><i class="bi bi-bookmark-check"></i></h1>
                        Voir toutes les categories
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card text-center p-4 text-bg-light">
                    <a href="/product-create" class="link-secondary">
                        <h1><i class="bi bi-building-add"></i></h1> Créer de nouveaux produits
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card text-center p-4 text-bg-light">
                    <a href="/product-list" class="link-secondary">
                        <h1><i class="bi bi-building-check"></i></h1> Voir la liste des produits
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>