<div class="container">
    <form action="/sign-in" method="post">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" name="email">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" class="form-control" name="password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group mt-3">
                <button type="submit" class="btn btn-secondary">Se connecter</button>
            </div>
        </div>
    </form>

</div>